@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  scroll-behavior: smooth !important;
}

html {
  color-scheme: dark light;
  scroll-behavior: smooth !important;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth !important;
  --header-height-px: calc(var(--header-height) * 1px);
  --montserrat: var(--font-montserrat);
  --yeseva: var(--font-yeseva);
  --inter: var(--font-inter);
  --glacial: var(--font-glacial);
  --hortensia: var(--font-hortensia);
  --color-blue: #132a6b;
  --color-yellow: #efd039;
  --color-light: #f4f0f0;
  --color-dark: #292929;
  --color-junglegreen: #2c4034;
  --color-espresso: #5a4027;
  --color-bluestone: #4c617c;
  --color-darkblue: #0f172a;
  background-color: var(--color-blue);
  color: var(--color-dark);
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

img {
  width: 100%;
  height: auto;
}

i.symbol {
  font-family: var(
    --font-family-symbols
  ); /* Variable declared in local font configuration */
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

h1 {
  font-size: 4rem;
  line-height: normal;
}

h2 {
  font-family: var(--montserrat);
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: normal;
}

section:not(.inicio-carousel, .somos-hero-section) {
  position: relative;
  padding: 4rem 1rem;
  overflow: hidden;
}

.main-container {
  position: relative;
  min-height: 100vh;
}

/* InfoCard */
.info-card-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  flex-basis: 30%;
  font-family: var(--font-inter);
  cursor: pointer;
}

.info-card-name {
  font-size: 1.5rem;
  line-height: normal;
  text-align: center;
  padding: 0.5rem 0;
  font-weight: 600;
  font-family: var(--font-glacial);
}

.info-card-date {
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5rem 0;
  font-weight: 300;
}

.info-card-img {
  overflow: hidden;
  border-radius: 8px;
}

.info-card-img img {
  width: 100%;
  height: auto;
  transition: 0.5s ease transform;
}

.info-card-item:hover img {
  transform: scale(1.1);
}

.info-card-info {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* Whatsapp */
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: 999;
  transition: transform 0.3s ease;
}

.whatsapp:hover {
  transform: scale(1.3);
}

/* Languages */
.languages-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.languages {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.languages-es,
.languages-en {
  padding: 5px;
  color: white;
}

.languages:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 1px;
  background-color: white;
}

.languages.en-active::after {
  transform: translate3d(100%, 0, 0);
}

/* MainBtn */
.main-btn-container {
  width: 100%;
}

.main-btn-container a {
  position: relative;
  font-family: var(--inter);
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.1);
}

.main-btn-container.white a {
  background-color: white;
  color: var(--color-dark);
}

.main-btn-container.blue a {
  background-color: var(--color-blue);
  color: white;
}

.main-btn-container .symbol {
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.5s ease transform;
}

.main-btn-container:hover .symbol {
  transform: translateX(20%);
}

/* ScrollNav */
.scroll-up-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 999;
  width: 40px;
  height: 40px;
  animation: fade-in both 0.5s ease;
}

.scroll-up-btn .symbol {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 5px;
  color: white;
  background-color: rgb(38, 38, 38);
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fade-up {
  animation: fade-up 1s ease forwards;
}

/* <Social /> */
.social-links-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon-container {
  padding: 5px;
}

.icon-container svg {
  height: 30px;
  width: 30px;
  fill: white;
}

/* Flowers */
.flowers-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  opacity: 0.2;
}

@keyframes flower {
  0% {
    transform: scale(2) rotate(0deg);
  }
  20% {
    transform: scale(2.04) rotate(5deg);
  }
  40% {
    transform: scale(2) rotate(0deg);
  }
  60% {
    transform: scale(2.1) rotate(15deg);
  }
  80% {
    transform: scale(2) rotate(0deg);
  }
  90% {
    transform: scale(2.07) rotate(10deg);
  }
  100% {
    transform: scale(2) rotate(0deg);
  }
}

.circle {
  position: relative;
  background: #edc442;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.triangle {
  margin-top: -20px;
  width: 0;
  height: 0;
  border-top: 80px solid #edc442;
  border-left: 28px solid transparent;
  border-right: 28px solid transparent;
}

.petal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: center 120px;
}

.petal:nth-child(1) {
  transform: rotate(45deg);
}

.petal:nth-child(2) {
  transform: rotate(65deg);
}

.petal:nth-child(2) {
  transform: rotate(90deg);
}

.petal:nth-child(3) {
  transform: rotate(135deg);
}

.petal:nth-child(5) {
  transform: rotate(180deg);
}

.petal:nth-child(6) {
  transform: rotate(225deg);
}

.petal:nth-child(7) {
  transform: rotate(270deg);
}

.petal:nth-child(8) {
  transform: rotate(315deg);
}

.petal:nth-child(9) {
  transform: rotate(360deg);
}

/* <Header /> */
.header-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: all 0.3s ease;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.burger-btn-container {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger-btn {
  position: relative;
  width: 30px;
  height: 1px;
  background-color: white;
  transition: 0.3s ease transform;
}

.burger-btn::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 1px;
  transform: rotate(90deg);
  background-color: white;
}

.header-container[data-nav-active="true"] .burger-btn {
  transform: rotate(45deg);
}

/* <Logo /> */
.logo-container {
  width: 150px;
}

/* <MainNav /> */
.nav-container {
  visibility: hidden;
  transform: translate3d(0, 0, 0);
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-blue);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: -1;
}

.nav-container.active {
  animation: nav-active 0.5s ease forwards;
}

@keyframes nav-active {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.nav-container.active {
  visibility: visible;
}

.main-nav {
  position: relative;
  height: calc(100% - var(--header-height-px));
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-item {
  font-family: var(--montserrat);
  width: 100%;
  overflow: hidden;
}

.nav-item a {
  padding: 0.5rem;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 2rem;
  transform: translate3d(0, 100%, 0);
  transition: 0.5s ease transform;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}

.nav-container.active a {
  transform: translate3d(0, 0, 0);
}

.nav-more {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  transform: rotate(-45deg);
  display: block;
}

.nav-extra-item {
  display: none;
}

.nav-extra-item-mobile {
  position: absolute;
  inset: 0;
  transform: translate3d(100%, 0, 0);
  background-color: #132a6b;
  width: 100%;
  height: 100%;
  transition: 0.5s ease transform;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-btn {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}

.nav-extra-item-mobile.active {
  transform: translate3d(0, 0, 0);
}

/* <Inicio /> */
.inicio-wrapper {
  position: relative;
  overflow: hidden;
}

.inicio-carousel {
  position: relative;
  height: 60vh;
}

.inicio-carousel .carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.inicio-carousel .carousel-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #132b6be4 5%, transparent);
  z-index: 99;
}

.inicio-carousel .carousel-item {
  position: absolute;
  inset: 0;
  transform: translate3d(100%, 0, 0);
}

.inicio-carousel .carousel-item[data-active="true"] {
  transform: translate3d(0, 0, 0);
}

.inicio-carousel .carousel-img {
  position: absolute;
  inset: 0;
}

.inicio-carousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* InicioSoon */
.inicio-soon {
  background-color: var(--color-light);
  color: var(--color-dark);
}

.inicio-soon .flower-0 {
  position: absolute;
  transform: scale(2);
  top: 0%;
  right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: flower 20s ease forwards infinite;
}

.inicio-soon .flower-1 {
  position: absolute;
  transform: scale(2);
  bottom: 20%;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inicio-soon:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5%;
  right: 5%;
  background-color: var(--color-dark);
  height: 1px;
  margin: auto;
}

.inicio-soon h2 {
  text-align: center;
  position: relative;
  z-index: 99;
}

.soon-items {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.soon-items .info-card-item {
  height: 550px;
  justify-content: space-between;
  max-width: 540px;
  max-width: 540px;
}

.soon-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  flex-basis: 30%;
  font-family: var(--font-inter);
  cursor: pointer;
}

.soon-name {
  font-size: 1.3rem;
  text-align: center;
  padding: 0.5rem 0;
  font-weight: 500;
}

.soon-date {
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem 0;
  font-weight: 300;
}

.soon-img {
  overflow: hidden;
  border-radius: 8px;
}

.soon-img img {
  width: 100%;
  height: auto;
  transition: 0.5s ease transform;
}

/* InicioTherapies */
.inicio-therapies {
  background-color: var(--color-light);
}

.inicio-therapies:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5%;
  right: 5%;
  background-color: var(--color-dark);
  height: 1px;
  margin: auto;
}

.inicio-therapies h2 {
  text-align: center;
}

.therapies-items {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 5vw;
  column-gap: 2vw;
}

.therapies-items .info-card-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  flex-basis: 40%;
  font-family: var(--font-inter);
  cursor: pointer;
  min-width: 280px;
}

.therapies-items .info-card-img {
  max-height: 350px;
}

/* InicioTestimonials */
.inicio-testimonials {
  background-color: var(--color-light);
}

.inicio-testimonials h2 {
  text-align: center;
}

.inicio-testimonials .carousel {
  position: relative;
  max-width: 900px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.inicio-testimonials .arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.inicio-testimonials .arrow {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inicio-testimonials .arrow:first-child {
  transform: rotate(180deg);
  z-index: 99;
}

.inicio-testimonials .arrow:nth-child(2) {
  z-index: 99;
}

.inicio-testimonials .carousel-item {
  position: absolute;
  color: var(--color-blue);
  padding: 1rem;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease transform;
}

.inicio-testimonials .carousel-item[data-inverted="true"] {
  transform: translate3d(200%, 0, 0);
  animation: not-active-inverted 0.5s ease forwards;
}

@keyframes not-active-inverted {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  100% {
    transform: translate3d(200%, 0, 0);
    opacity: 0;
  }
}

.inicio-testimonials .carousel-item[data-inverted="false"] {
  transform: translate3d(200%, 0, 0);
  animation: not-active-not-inverted 0.5s ease forwards;
}

@keyframes not-active-not-inverted {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  100% {
    transform: translate3d(-200%, 0, 0);
    opacity: 0;
  }
}

.inicio-testimonials .carousel-item[data-inverted="true"].active {
  display: block;
  position: static;
  opacity: 1;
  animation: active-inverted 0.5s ease forwards;
}

@keyframes active-inverted {
  0% {
    transform: translate3d(-200%, 0, 0);
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.inicio-testimonials .carousel-item[data-inverted="false"].active {
  display: block;
  position: static;
  opacity: 1;
  animation: active-not-inverted 0.5s ease forwards;
}

@keyframes active-not-inverted {
  0% {
    transform: translate3d(200%, 0, 0);
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.inicio-testimonials .carousel-item p {
  font-style: italic;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #292929;
  text-align: justify;
}

.inicio-testimonials .carousel-item h3 {
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: 1.2rem;
}

/* SomosHero */
.somos-hero-section {
  width: 100%;
  height: 60vh;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10vw;
}

.somos-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #132b6be4 5%, transparent);
  z-index: 99;
}

.somos-hero-img {
  position: absolute;
  inset: 0;
}

.somos-hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.somos-hero-heading {
  z-index: 99;
  font-family: var(--font-montserrat);
}

.somos-hero-heading h1 {
  font-size: 2.2rem;
  line-height: normal;
  font-weight: 300;
  color: white;
}

.somos-hero-heading h2 {
  line-height: normal;
  color: white;
}

/* SomosInfo */
.somos-info-section {
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.somos-info-section:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5%;
  right: 5%;
  background-color: var(--color-dark);
  height: 1px;
  margin: auto;
}

.somos-info-heading {
  position: relative;
}

.somos-info-heading:first-child h2 {
  text-align: center;
  color: var(--color-dark);
}

.somos-info p {
  font-family: var(--inter);
  color: var(--color-dark);
  text-align: justify;
}

.somos-info-video {
  flex-basis: 50%;
  width: 100%;
  max-width: 700px;
}

.somos-video {
  border-radius: 8px;
  overflow: hidden;
}

.somos-info-text {
  flex-basis: 50%;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

/* SomosFundadoras */
.somos-fundadoras-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light);
}

.somos-fundadoras-section .flower-0 {
  position: absolute;
  transform: scale(2);
  top: 0%;
  right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: flower 20s ease forwards infinite;
}

.somos-fundadoras-section .flower-1 {
  position: absolute;
  transform: scale(2);
  bottom: 20%;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.somos-fundadoras-info {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  padding: 2rem 0;
  max-width: 720px;
  z-index: 99;
}

.somos-fundadoras-heading {
  position: relative;
  z-index: 99;
}

.somos-fundadoras-heading h2 {
  text-align: center;
}

.somos-fundadoras-item {
  position: relative;
  max-width: 700px;
  height: 470px;
  /* flex-basis: 50%; */
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.somos-fundadoras-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    transparent 20%,
    var(--color-yellow) 70%
  );
}

.somos-fundadoras-img {
  position: absolute;
  inset: 0;
}

.somos-fundadoras-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.somos-fundadoras-text {
  position: relative;
  z-index: 99;
  padding: 1rem;
  color: white;
}

.somos-fundadoras-text h3 {
  font-size: 1.8rem;
  font-family: var(--hortensia);
  font-weight: 700;
}

.somos-fundadoras-text p {
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--inter);
}

/* Contact */
.contact-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-bg-img {
  position: absolute;
  inset: 0;
}

.contact-bg-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
}

.contact-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #132b6be4 5%, transparent);
  z-index: 89;
}

.contact-info {
  z-index: 99;
  color: white;
  max-width: 720px;
  margin-top: 3rem;
}

.contact-info-text {
  position: relative;
  margin-bottom: 1rem;
}

.contact-info h3 {
  font-size: 1.5rem;
  font-family: var(--font-inter);
  font-weight: 200;
}

.contact-info span {
  position: relative;
  display: block;
  font-size: 1.2rem;
  font-family: var(--inter);
  font-weight: 500;
  text-decoration: underline;
}

.contact-info a {
  color: var(--color-yellow);
}

.contact-info svg {
  fill: var(--color-yellow);
}

.contact-info-social .social-links-container {
  justify-content: flex-start;
}

/* <Footer /> */
.footer {
  position: relative;
  padding: 4rem 1rem;
}

.footer-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

/* Desktop */
@media screen and (min-width: 991px) {
  /* General Styles */
  h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  section:not(.inicio-carousel, .somos-hero-section) {
    position: relative;
    padding: 6rem 3rem;
  }

  .whatsapp {
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
  }

  .languages-container {
    top: 10px;
    right: 10px;
  }

  .languages-es,
  .languages-en {
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
  }

  .scroll-up-btn {
    position: fixed;
    bottom: 40px;
    left: 40px;
  }

  .scroll-up-btn .symbol {
    font-size: 2.2rem;
  }

  .main-btn-container {
    position: relative;
  }

  /* InfoCard */
  .info-card-name {
    font-size: 1.7rem;
  }

  .info-card-date {
    font-size: 1.3rem;
  }

  /* <Header /> */
  .header-container.scrolled {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }

  .header {
    flex-direction: column;
  }

  .burger-btn-container {
    display: none;
  }

  /* <Logo /> */
  .logo-container {
    width: 200px;
  }

  /* <MainNav /> */
  .nav-container {
    visibility: visible;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: initial;
  }

  .main-nav {
    width: 100%;
    height: 100%;
    overflow: initial;
  }

  .nav-items {
    flex-direction: row;
  }

  .nav-item {
    position: relative;
    width: initial;
    height: initial;
    overflow: initial;
  }

  .nav-item a {
    transform: translate3d(0, 0, 0);
    padding: 1rem;
  }

  .nav-more {
    transform: rotate(45deg);
  }

  .nav-extra-item {
    position: absolute;
    inset: unset;
    width: initial;
    min-width: 100%;
    height: initial;
    display: block;
    top: 80%;
    left: 0;
    background-color: #292929;
    border-radius: 8px;
    transform: rotateX(-90deg) translate3d(0, -10%, 0);
    transform-origin: top;
    opacity: 0;
    transition: 0.25s ease transform, 0.1s ease opacity;
    box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.2);
  }

  .nav-extra-item-mobile {
    display: none;
  }

  .back-btn {
    display: none;
  }

  .nav-extra-item.active {
    transform: rotateX(0deg) translate3d(0, 0, 0);
    opacity: 1;
    transition: 0.35s ease transform, 0.3s ease opacity;
  }

  .nav-extra-item .nav-items {
    flex-direction: column;
  }

  .nav-extra-item .nav-item {
    width: 100%;
    border-radius: 8px;
  }

  .nav-extra-item .nav-item:hover {
    background-color: rgb(58, 58, 58);
  }

  .nav-extra-item .nav-item a {
    width: 100%;
    font-size: 1.2rem;
    padding: 15px;
  }

  /* <Inicio /> */
  .inicio-wrapper {
    position: relative;
    overflow: hidden;
    /* height: 100vh; */
  }

  /* InicioSoon */
  .soon-items {
    flex-direction: row;
    align-items: flex-start;
  }

  .soon-items .info-card-item {
    min-width: 400px;
  }

  .soon-item:hover img {
    transform: scale(1.1);
  }

  /* InicioTherapies */
  .therapies-items {
    flex-direction: row;
    align-items: flex-start;
    row-gap: 5vw;
    column-gap: 5vw;
  }

  .therapies-item:hover img {
    transform: scale(1.1);
  }

  /* InicioTestimonials */
  .inicio-testimonials .carousel-item p {
    font-style: italic;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  .inicio-testimonials .carousel-item h3 {
    font-family: var(--font-montserrat);
    font-weight: 600;
    font-size: 1.3rem;
  }

  .inicio-testimonials .arrow {
  }

  .arrow .symbol {
    font-size: 3rem;
  }

  .inicio-testimonials .arrow:first-child {
  }

  .inicio-testimonials .arrow:nth-child(2) {
  }

  /* SomosHero */
  .somos-hero-section {
    padding: 5vw;
  }

  .somos-hero-heading h1 {
    font-size: 3rem;
  }

  /* SomosInfo */
  .somos-info-section {
    gap: 5rem;
  }

  .somos-info-video {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
  }

  .somos-info .main-btn-container {
    width: fit-content;
  }

  .somos-info-text {
    max-width: 1200px;
  }

  .somos-info p {
    font-size: 1.2rem;
  }

  /* SomosFundadoras */
  .somos-fundadoras-info {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
  }

  .somos-fundadoras-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      transparent 20%,
      var(--color-yellow) 100%
    );
  }

  .somos-fundadoras-overlay:before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      transparent 20%,
      var(--color-yellow) 70%
    );
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .somos-fundadoras-text p {
    font-size: 1.1rem;
    opacity: 0;
    height: 0px;
    transition: 0.7s ease all;
  }

  .somos-fundadoras-item:hover .somos-fundadoras-overlay:before {
    opacity: 1;
  }

  .somos-fundadoras-item:nth-child(1):hover .somos-fundadoras-text p {
    opacity: 1;
    height: calc(200px - 3vw);
  }

  .somos-fundadoras-item:nth-child(2):hover .somos-fundadoras-text p {
    opacity: 1;
    height: calc(250px - 3vw);
  }

  .somos-fundadoras-text h3 {
    font-size: 2.4rem;
  }

  .somos-fundadoras-item {
    position: relative;
    flex-basis: 50%;
  }

  /* Contact */
  .contact-info h3 {
    font-size: 2rem;
  }

  .contact-info span {
    font-size: 1.5rem;
  }

  /* <Footer /> */
  .footer {
    position: relative;
  }

  .footer-grid {
    flex-direction: row;
    justify-content: space-around;
  }
}
